body {
  background: #f6f6f6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header {
    text-align: center;
    font-family: "Helvetica", "Trebuchet MS", "Verdana", sans-serif;
    font-size: 42px;
    font-weight: bold;
}
.footer {
    font-family: "Helvetica", "Trebuchet MS", "Verdana", sans-serif;
    font-size: 42px;
    font-weight: bold;
}



.footer a,
.footera:visited {
    color: #e04545;
    text-decoration: none;
}
.footer a:hover {
    color: #d12a2a;
}
.grid {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  grid-template-rows: repeat(5, 60px);
  gap: 15px;
  padding: 10px;
  border-radius: 0px;
}
.cell {
  display: flex;
  justify-content: center;
}
.circle {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  transition: background 0.3s;
  display: inline-block;
  background: #e04545;
  text-decoration: none;
  color: inherit;
}
.circle:hover {
  filter: brightness(0.85);
  cursor: pointer;
  text-decoration: none;
}
.red-link,
.red-link:visited {
  color: #e04545;
  text-decoration: none;
  transition: filter 0.3s, color 0.3s;
}

.red-link:hover {
  filter: brightness(0.85);
  color: #e04545;
  cursor: pointer;
  text-decoration: none;
}
