body {
  background: #f6f6f6;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  grid-template-rows: repeat(5, 60px);
  gap: 15px;
  padding: 10px;
  border-radius: 0px;
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  transition: background 0.3s;
    }
